@model SteamAPIWebApplication.ViewModels.SteamFriendsViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.svPersonalInfo.personaname + "- Profile";
    //User.Identity.GetUserName()
}
<style>
    .friendliststeam{
        display:none;
    }
    .friendliststeam:nth-child(-n+8)
    {
        display:block;
    }
</style>
@*<p>@Model.svPersonalInfo.profilestate</p><br />
<p>@Model.svPersonalInfo.profileurl</p><br/>
<p>@Model.svPersonalInfo.communityvisibilitystate</p><br />*@
<div class="row">
    <div class="col-md-8">
        <div class="background-custom-full background-padding">
            @{ Html.RenderAction("GetMatchDetailsNew", "SteamMatchDetails");}
            <div class="text-right col-md-12 col-sm-12">
                <button class="btn btn-link">More >></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-horizontal  background-custom-full background-padding">
            <h2>Steam Friends</h2>
            @for (int i = 0; i < Model.FriendsList.Count; i++)
            {
                @*<div class="form-group">*@
                @*<div class="col-md-4">*@
                <div class="form-group friendliststeam listfriendsteam">
                    <div class="col-md-2">
                        <a href="@Url.Action("Index","SteamMatchDetails", new { id = Model.FriendsList[i].steamid })"><img src="@Model.svFriendsInfo[i].avatar" alt="@Model.svFriendsInfo[i].personaname" /></a>
                    </div>
                    @*<p>Friends Steam ID= @Model.FriendsList[i].steamid</p><br />*@
                    <div class="col-md-10">
                        <ul>
                            <li style="word-wrap:break-word;">@Model.svFriendsInfo[i].personaname</li>
                            @*<li>Relationship= @Model.FriendsList[i].relationship </li>*@
                            @*<li>Friends Since: @Model.FriendsList[i].friend_since </li>*@
                        </ul>
                    </div>
                </div>
                

                @*</div>*@
            }
            <div class="col-md-12 text-right">
                <button id="morelist" value="more" class="btn btn-link">More >></button>
            </div>
        </div>
    </div>

    </div>
@*</div>*@
@*<div class="row background-custom-full background-padding">
    <div class="col-md-12">
        @{ Html.RenderAction("MatchDetails","SteamMatchDetails");}
    </div>
</div>*@
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var linktext = $("#morelist").text();
            $("#morelist").click(function () {
                if (linktext == "More >>")
                {
                    $(".listfriendsteam").removeClass("friendliststeam");
                    $("#morelist").text("Less <<");
                    linktext = $("#morelist").text();
                }
                else
                {
                    $(".listfriendsteam").addClass("friendliststeam");
                    $("#morelist").text("More >>");
                    linktext = $("#morelist").text();
                }
            });
        });
    </script>
    }