@model SteamAPIWebApplication.Models.SteamMatchDetailsAPI.SteamMatchDetailsAPI
@using SteamAPIWebApplication.CommonClasses
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<style>
    ul li {
        display: inline;
    }
    .wonmatch{
        color:lawngreen;
    }
    .lostmatch{
        color:darkred;
    }
</style>
<h2>Index</h2>
@*<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-7">*@
<table cellspacing="10" cellpadding="10">
    <tr>
        <th>MatchId</th>
        <th>Hero Played</th>
        
        <th>Lobby</th>
        <th>Radiant/Dire</th>
        @*<th>Won/Loss Match</th>*@
    </tr>
    @foreach (var items in Model.matches)
            {
        <tr>
            @foreach (var item in Model.players)
                {
                    if (item.match_id == items.match_id)
                    {
                        if (User.Identity.GetUserId() == clsCommon.convert_steamid_32bit_to_64bit(Convert.ToUInt64(item.account_id)))
                        {

                        @*<li>Account id = @item.account_id</li>*@
                        @*<td>@item.steam_account_match</td>*@
                        @*<td>Hero Id = @item.hero_id</td>*@
                        <td><a href="@Url.Action("GetMatchDetailById", "SteamMatchDetails", new { matchid = items.match_id })" id="@items.match_id">@items.match_id</a></td>
                        <td>@item.hero_name</td>
                     
                        <td>@items.lobby_type_name</td>
                                    <td>@item.player_slot_side</td>
                                    @*<td>
                                        @if (item.player_slot_side=="Radiant")
                                        {
                                            if(items.MatchDetailById.steamMatchDetailsIDIndividual.radiant_win=="1")
                                            {
                                                <span class="wonmatch">Won Match</span>
                                            }
                                            else
                                            {
                                                <span class="lostmatch">Loss Match</span>
                                            }
                                        }
                                        else
                                        {
                                            if (items.MatchDetailById.steamMatchDetailsIDIndividual.radiant_win == "0")
                                            {
                                                <span class="wonmatch">Won Match</span>
                                            }
                                            else
                                            {
                                                <span class="lostmatch">Loss Match</span>
                                            }
                                        }
                                    </td>*@
                    }
                }
                //else
                //{
                //    break;
                //}
            }
        </tr>
    }
</table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var i=0;
            var count = @Model.matches.Count;
            $.each(@Model.matches,function(items){
                if(items.MatchDetailById.steamMatchDetailsIDIndividual.radiant_win=="0")
                {
                    $('.wonmatch').removeClass('wonmatch').addClass('lostmatch')
                }
            });
            @*for(i =0;i<count;i++)
            {
                var i = 0;
                if('@Model.matches.MatchDetailById.steamMatchDetailsIDIndividual.radiant_win'=="0")
                {
                    $('.wonmatch').removeClass('wonmatch').addClass('lostmatch')
                }
                
            }*@

        })
    </script>
    }
@*</div>
            <div class="col-md-5">
                @{Html.RenderAction("SteamFriendsPartial", "SteamVanityUserName");}
            </div>
        </div>
    </div>*@