@model SteamAPIWebApplication.Models.SteamMatchDetailsAPI.SteamMatchDetailsAPI
@{
    ViewBag.Title = "Index";
}
<style>
    ul li{
        display:inline;
    }
</style>
<h2>Index</h2>
@foreach(var items in Model.matches)
{
    <a href="#" id="@items.match_id">@items.match_id</a>
    @items.start_time<br/>
    <p>Lobby Type = @items.lobby_type</p><br />
    foreach (var item in Model.players)
    {
        if (item.match_id == items.match_id)
        {
            <ul style="list-style-type:none">
                <li>Account id = @item.account_id</li>
                <li>Hero Id = @item.hero_id</li>
                <li>Player Slot = @item.player_slot</li>
                
            </ul>
        }
        //else
        //{
        //    break;
        //}
    }
}

