@model List<SteamAPIWebApplication.Models.BasicContents.DotaItems>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<div class="row">*@
<div class="form-horizontal">
    <div class="col-md-4">
        <h4>Normal Shop</h4>
        @*<ul>*@
            @foreach (var items in Model)
            {
                if (items.secret_shop == "0" && !items.name.Contains("Recipe"))
                {
                    <div class="col-md-2">
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/@items.item_image_lg" width="32" height="32" alt="@items.name" title='item name = @items.name and cost = @items.cost' />
                    </div>
                }
            }
        @*</ul>*@
    </div>
    <div class="col-md-4">
        <h4>Secret Shop</h4>
       
            @foreach (var items in Model)
            {
                if (items.secret_shop == "1")
                {
                    <div class="col-md-2">
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/@items.item_image_lg" width="32" height="32" alt="@items.name" title='item name = @items.name and cost = @items.cost' />
                    </div>
                    
                }
            }
        
    </div>
    <div class="col-md-4">
        <h4>Side Shop</h4>
        
            @foreach (var items in Model)
            {
                if (items.side_shop == "1")
                {
                    <div class="col-md-2">
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/@items.item_image_lg" width="32" height="32" alt="@items.name" title='item name = @items.name and cost = @items.cost' />
                    </div>
                }

            }
            
        
    </div>
</div>
   


@*</div>*@

