@model IEnumerable<SteamAPIWebApplication.Models.DotaTeams.DotaTeams>
@{ 
    Layout = null;
}

<div class="form-horizontal dota-teams-custom-bg dota-teams-padding-and-margin">
    <h2>Teams</h2>
    @foreach (var items in Model)
    {
        <div class="form-group">
            <div class="col-md-2"><img src="@items.logo" width="32" height="32"></div>
            <div class="col-md-10">
                <a href="@items.url">
                    @items.name (@items.tag)</a><br />
            </div>
        </div>
    }
    <div class="text-right">
        @Html.ActionLink("More Teams", "DotaTeams", "DotaTeams")
    </div>

</div>